.page-footer {
  text-align: center;
  padding-top: 20px;
  /* color:#e0e0e0; */
  color:#616161 ;
  
  /* background-color:#7B6D24; */
  background-color: #DED675
}
p{
  font-size: 1.5em;
}
a{
  font-size: 1.5em;
}
.logo{
  height: 100px;
  width: 100px;
}
.vg{
  height: 50px;
}
.fab{
  font-size: 2em;
}
li a:hover {
  background-color: #DED675;
}
li a{
  color:#616161;
  /* font-size: 20px; */
}
