.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  /* color:#e0e0e0; */
  color:#616161 ;
  
  /* background-color:#7B6D24; */
  /* background-color: #DED675 */
  /* background: rgb(34,193,195); */
  /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
  background: -webkit-linear-gradient(#ded675, #333);
}
p{
  font-size: 1.5em;
}
a{
  font-size: 1.5em;
}
.logo{
  height: 100px;
  width: 100px;
}
.vg{
  height: 50px;
}
.fab .fa{
  font-size: 2em;
}
/* li a:hover {
  background-color: #DED675;
} */
li a{
  color:#616161;
  /* font-size: 20px; */
}
/* .fa-envelope:before {
  content: "\f0e0";
  font-size: 40px;
  color:#616161;
} */
/* .container{
  display: flex;
  justify-self: center;
} */
.footer-copyright{
  display: flex;
  justify-self: center;
}