/* .homeTitle{
 
  
  /* top: -20px; */
  /* background-color: black; */
  /* background-image: url('/images/keyboard.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%; */
  /* background-color:#7B6D24; */
  /* letter-spacing: 3px; */
/* } */ 
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
.keyboard{
  width: 100%;
}
body, html {
  height: 100%;
}
.homeContainer{
  position: relative;
  background-image: url('./images/keyboard.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 110px;
  padding-left: 80px;
}
.name{
  color: #7B6D23;
  text-shadow: 2px 2px 4px #DED675;
  /* -webkit-transition: width 2s, height 2s, -webkit-transform 2s; */
  /* transition: width 1s, height 1s, transform 1s; */
  /* transition-timing-function: ease-in; */
  /* transition-duration: 0.4s; */
  transition: 1s;
  animation: bounceIn 2s ease-in;
  /* animation: mymove 5s; */

}
.nameFull{
  color: #7B6D23;
  text-shadow: 2px 2px 4px #DED675;
  transition: 1s;
}
.nameFull:hover{
  /* width: 300px; */
  /* height: 300px; */
  /* -webkit-transform: rotate(360deg);  */
 
  /* animation: bounceIn 2s ease-in; */
  transform: rotate(360deg);

}
.linkProjects{
  color: #7B6D23;
  font-size: 18px;
  transition: 1s;
  animation: bounceIn 1s ease-in-out;
}
.fab {
 /* height: 20px; */
 color: #7B6D23;
 font-size:20px;
 /* line-height: 20px; */
}