/* .nav{
  background-color: #7B6D24;
} */
nav .nav-wrapper {
  position: relative;
  height: 100%;
  margin: 10px;
}

nav {
  /* color: #fff; */
  /* background-color: #7B6D23; */
  background-color: #DED675;
  /* background: rgb(34,193,195); */
  /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
  width: 99.4%;
  height: 56px;
  line-height: 56px;  
  margin: 4px;
}
li a {
  color: white;
  display: flex;
  justify-content: center;
}
li a:hover {
  /* background-color: #555; */
  background-color: #707070;
  /* color:#7B6D23; */
  letter-spacing: 2px;
}