/* .pic{
  height: 200px;
  width: 200px;
} */
a {
    font-size: 24px;
    color: black;
}
.header{
  animation: bounceIn 2s ease-in;
}
.projectTitle{
  position: relative;
  /* background-image: url('./images/project.jpg'); */
  /* height: 100vh; */
  /* background-image: url('https://seeklogo.com/images/J/javascript-logo-8892AEFCAC-seeklogo.com.png'); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  text-align: center;
  animation: bounceIn 2s ease-in;
  line-height: 90%;
  /* margin-top: 10px; */
  /* color: white; */
 
}
.row{
  margin-left: 70px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
 
}
.projects{
  text-align: center;
  /* background-color: #DED675; */
  color: #424242;
  /* padding: 20px; */
  /* font-size: 20px; */
}
.skillsContainer{
  position: relative;
  text-align: center;
  width: 50%;

}
.skillsPic{
  float: right;
  /* position: absolute; */
  /* height: 300px; */
  /* width: 200px; */
  
}
.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #ded675;
  /* -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s; */
  border-radius: 6px;
  box-shadow: 5px 10px #CDC23D;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #7b6d23; 
  border: 2px solid black;
  background-color: #7b6d23;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3%;

}
.card.horizontal .card-image img {
border-radius: 2%;
/* max-width: 100%; */
width: auto;
margin-top: 50px;
/* margin-right: -70px; */
margin-left: 28px;
margin-bottom: 43px;
}
.card-content p{
  line-height: 3em;
  font-size: 20px;
  
}
.card-content{
  padding: 32px;
  margin: 50px;
  border-radius: 0 0 2px 2px
}

.card-action{
  animation: bounceIn 2s ease-in;
  color: #7b6d23;
  
}
.card-action a{
  color: black;
  /* background-color: black; */
  text-transform: uppercase;
}
.card-action:hover{
  transition: 3s;
}
.card-horizontal{
  animation: bounceIn 2s ease-in;
}
.skills i{
  font-size: 30px;
  
}
.skills i:hover{
  /* animation: bounceIn 2s ease-in; */
  transform: rotate(360deg)
}