.resumeContainer{
  width:100%;
  text-align: center;
  height: 100vh;
}
img.responsive-img{
  height: 400px;
}
button{
  color: #7b6d23; 
  border: 2px solid black;
  background-color: #7b6d23;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3%;
}
.challenge{
  text-align: center;
}
.p{
  font-size: 20px;
}